Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        language: system
        entry: uv
        args: [lock, --check]
        files: .*(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false
      - id: uv-sync
        name: uv sync
        language: system
        entry: uv
        args: [sync, --frozen, --all-groups, --all-extras, --all-packages]
        always_run: true
        pass_filenames: false
      - id: ruff-check
        name: ruff check
        language: system
        entry: uv
        args: [run, --no-sync, ruff, check, --fix]
        types: [file, python]
      - id: ruff-format
        name: ruff format
        language: system
        entry: uv
        args: [run, --no-sync, ruff, format]
        types: [file, python]
      - id: mypy
        name: mypy
        language: system
        entry: uv
        args: [run, --no-sync, mypy]
        types: [file, python]

ci: cache Rust artifacts in PR workflow
  .github/workflows/pr.yaml
Due: none

ci: add Rust problem matchers to PR workflow
  .github/workflows/pr.yaml
Due: none

chore: move to ty for Python type checking
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  .zed/settings.json
  codegen/src/targets/py/test.rs
  targets/ptfkit-py/.gitignore
  targets/ptfkit-py/justfile
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/tests/_helpers.py
  targets/ptfkit-py/tests/test_aimrun2009.py
  targets/ptfkit-py/tests/test_beniaich2023.py
  targets/ptfkit-py/tests/test_cosby1984.py
  targets/ptfkit-py/tests/test_jabro1992.py
  targets/ptfkit-py/tests/test_li2007.py
  targets/ptfkit-py/tests/test_pidgeon1972.py
  targets/ptfkit-py/tests/test_puckett1985.py
  targets/ptfkit-py/tests/test_rawls1982.py
  targets/ptfkit-py/tests/test_tiwary2014.py
  targets/ptfkit-py/tests/test_wang2012.py
  targets/ptfkit-py/tests/test_weber2020.py
  targets/ptfkit-py/uv.lock
Due: uv-lock, ruff-check, ruff-format, mypy

refactor(codegen): simplify generated PTF formulas
  codegen/src/formula.rs
  codegen/src/semantic.rs
  codegen/src/targets/py/c.rs
  codegen/src/targets/rs.rs
  targets/ptfkit-py/src/ptfkit/aimrun2009.c
  targets/ptfkit-py/src/ptfkit/beniaich2023.c
  targets/ptfkit-py/src/ptfkit/cosby1984.c
  targets/ptfkit-py/src/ptfkit/jabro1992.c
  targets/ptfkit-py/src/ptfkit/li2007.c
  targets/ptfkit-py/src/ptfkit/pidgeon1972.c
  targets/ptfkit-py/src/ptfkit/puckett1985.c
  targets/ptfkit-py/src/ptfkit/rawls1982.c
  targets/ptfkit-py/src/ptfkit/tiwary2014.c
  targets/ptfkit-py/src/ptfkit/wang2012.c
  targets/ptfkit-py/src/ptfkit/weber2020.c
  targets/ptfkit-rs/src/aimrun2009.rs
  targets/ptfkit-rs/src/beniaich2023.rs
  targets/ptfkit-rs/src/cosby1984.rs
  targets/ptfkit-rs/src/jabro1992.rs
  targets/ptfkit-rs/src/li2007.rs
  targets/ptfkit-rs/src/pidgeon1972.rs
  targets/ptfkit-rs/src/puckett1985.rs
  targets/ptfkit-rs/src/rawls1982.rs
  targets/ptfkit-rs/src/tiwary2014.rs
  targets/ptfkit-rs/src/wang2012.rs
  targets/ptfkit-rs/src/weber2020.rs
Due: none

feat: add Chakraborty et al. (2011)
  specs/functions/chakraborty2011.yaml
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/chakraborty2011.c
  targets/ptfkit-py/src/ptfkit/chakraborty2011.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_chakraborty2011.py
  targets/ptfkit-rs/src/chakraborty2011.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

i'm sorry
  local/2019_dharumarajan_Pedotransfer functions for predicting soil hydraulic properties in semi-arid regions of Karnataka Plateau, Indiapdf.md
Due: none

feat: add Dharumarajan et al. (2019)
  local/2019_dharumarajan_Pedotransfer functions for predicting soil hydraulic properties in semi-arid regions of Karnataka Plateau, Indiapdf.md
  specs/functions/dharumarajan2019.yaml
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/dharumarajan2019.c
  targets/ptfkit-py/src/ptfkit/dharumarajan2019.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_dharumarajan2019.py
  targets/ptfkit-rs/src/dharumarajan2019.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

()
  targets/ptfkit-py/src/ptfkit/dharumarajan2019.c
  targets/ptfkit-py/tests/test_dharumarajan2019.py
  targets/ptfkit-rs/src/dharumarajan2019.rs
Due: ruff-check, ruff-format, mypy

feat: add Dharumarajan et al. (2019)
  specs/functions/dharumarajan2019.yaml
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/dharumarajan2019.c
  targets/ptfkit-py/src/ptfkit/dharumarajan2019.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_dharumarajan2019.py
  targets/ptfkit-rs/src/dharumarajan2019.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

feat: add Ahuja et al. (1984)
  specs/functions/ahuja1984.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/ahuja1984.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/ahuja1984.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/ahuja1984.c
  targets/ptfkit-native/tests/cpp/ahuja1984.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ahuja1984.c
  targets/ptfkit-py/src/ptfkit/ahuja1984.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_ahuja1984.py
  targets/ptfkit-rs/src/ahuja1984.rs
Due: ruff-check, ruff-format, mypy

feat: add Varalyiai et al. (1982)
  specs/functions/varallyai1982.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/varallyai1982.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/varallyai1982.h
  targets/ptfkit-native/tests/c/varallyai1982.c
  targets/ptfkit-native/tests/cpp/varallyai1982.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/varallyai1982.c
  targets/ptfkit-py/src/ptfkit/varallyai1982.py
  targets/ptfkit-py/tests/test_varallyai1982.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/varallyai1982.rs
Due: ruff-check, ruff-format, mypy

feat: add Mayr et al. (1999)
  specs/functions/mayr1999.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/mayr1999.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/mayr1999.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/mayr1999.c
  targets/ptfkit-native/tests/cpp/mayr1999.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/mayr1999.c
  targets/ptfkit-py/src/ptfkit/mayr1999.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_mayr1999.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/mayr1999.rs
Due: ruff-check, ruff-format, mypy

fix(codegen): render compact native test literals
  codegen/src/targets/native.rs
  targets/ptfkit-native/tests/c/ahuja1984.c
  targets/ptfkit-native/tests/c/aimrun2009.c
  targets/ptfkit-native/tests/c/beniaich2023.c
  targets/ptfkit-native/tests/c/chakraborty2011.c
  targets/ptfkit-native/tests/c/cosby1984.c
  targets/ptfkit-native/tests/c/dharumarajan2019.c
  targets/ptfkit-native/tests/c/jabro1992.c
  targets/ptfkit-native/tests/c/li2007.c
  targets/ptfkit-native/tests/c/mayr1999.c
  targets/ptfkit-native/tests/c/pidgeon1972.c
  targets/ptfkit-native/tests/c/puckett1985.c
  targets/ptfkit-native/tests/c/rawls1982.c
  targets/ptfkit-native/tests/c/tiwary2014.c
  targets/ptfkit-native/tests/c/varallyai1982.c
  targets/ptfkit-native/tests/c/wang2012.c
  targets/ptfkit-native/tests/c/weber2020.c
  targets/ptfkit-native/tests/cpp/ahuja1984.cpp
  targets/ptfkit-native/tests/cpp/aimrun2009.cpp
  targets/ptfkit-native/tests/cpp/beniaich2023.cpp
  targets/ptfkit-native/tests/cpp/chakraborty2011.cpp
  targets/ptfkit-native/tests/cpp/cosby1984.cpp
  targets/ptfkit-native/tests/cpp/dharumarajan2019.cpp
  targets/ptfkit-native/tests/cpp/jabro1992.cpp
  targets/ptfkit-native/tests/cpp/li2007.cpp
  targets/ptfkit-native/tests/cpp/mayr1999.cpp
  targets/ptfkit-native/tests/cpp/pidgeon1972.cpp
  targets/ptfkit-native/tests/cpp/puckett1985.cpp
  targets/ptfkit-native/tests/cpp/rawls1982.cpp
  targets/ptfkit-native/tests/cpp/tiwary2014.cpp
  targets/ptfkit-native/tests/cpp/varallyai1982.cpp
  targets/ptfkit-native/tests/cpp/wang2012.cpp
  targets/ptfkit-native/tests/cpp/weber2020.cpp
Due: none

feat (codegen): Too many arguments fixed
  codegen/src/targets/rs.rs
Due: none

ci: remove Python coverage reporting workflow
  .github/workflows/coverage.yaml
  README.md
Due: none

fixed
  codegen/src/targets/rs.rs
  targets/ptfkit-rs/clippy.toml
Due: none

chore(clippy): raise argument threshold for rs target
  targets/ptfkit-rs/clippy.toml
Due: none

feat: add Vereecken et al. (1989)
  specs/functions/vereecken1989.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/vereecken1989.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/vereecken1989.h
  targets/ptfkit-native/tests/c/vereecken1989.c
  targets/ptfkit-native/tests/cpp/vereecken1989.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/vereecken1989.c
  targets/ptfkit-py/src/ptfkit/vereecken1989.py
  targets/ptfkit-py/tests/test_vereecken1989.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/vereecken1989.rs
Due: ruff-check, ruff-format, mypy

docs: clarify extraction notes and review guidance
  .agents/skills/ptf-extract/references/extraction-quality-gate.md
  .agents/skills/ptf-extract/references/spec-template.yaml
  specs/functions/aimrun2009.yaml
  specs/functions/beniaich2023.yaml
  specs/functions/cosby1984.yaml
  specs/functions/jabro1992.yaml
  specs/functions/li2007.yaml
  specs/functions/pidgeon1972.yaml
  specs/functions/puckett1985.yaml
  specs/functions/rawls1982.yaml
  specs/functions/tiwary2014.yaml
  specs/functions/wang2012.yaml
  specs/functions/weber2020.yaml
Due: none

ci: update GitHub actions
  .github/workflows/deploy-docs.yaml
  .github/workflows/deploy-pypi.yaml
  .github/workflows/pr.yaml
Due: none

ci: cache codegen Rust artifacts on pull requests
  .github/workflows/pr.yaml
Due: none

feat: centralize package version management
  .github/scripts/check-version.py
  .github/workflows/deploy-pypi.yaml
  Justfile
  codegen/src/main.rs
  codegen/src/version.rs
  targets/ptfkit-native/CMakeLists.txt
  targets/ptfkit-native/cmake/ptfkitVersion.cmake
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/src/ptfkit/__init__.py
  targets/ptfkit-py/src/ptfkit/_version.py
  targets/ptfkit-py/uv.lock
  targets/ptfkit-rs/src/lib.rs
Due: uv-lock, ruff-check, ruff-format, mypy
