Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        language: system
        entry: uv
        args: [lock, --check]
        files: .*(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false
      - id: uv-sync
        name: uv sync
        language: system
        entry: uv
        args: [sync, --frozen, --all-groups, --all-extras, --all-packages]
        always_run: true
        pass_filenames: false
      - id: ruff-check
        name: ruff check
        language: system
        entry: uv
        args: [run, --no-sync, ruff, check, --fix]
        types: [file, python]
      - id: ruff-format
        name: ruff format
        language: system
        entry: uv
        args: [run, --no-sync, ruff, format]
        types: [file, python]
      - id: mypy
        name: mypy
        language: system
        entry: uv
        args: [run, --no-sync, mypy]
        types: [file, python]

feat(codegen): support shared definitions
  codegen/src/compile.rs
  codegen/src/fixtures/shared-definitions/definitions/soil.yaml
  codegen/src/fixtures/shared-definitions/functions/first_source.yaml
  codegen/src/fixtures/shared-definitions/functions/second_source.yaml
  codegen/src/model.rs
  codegen/src/output/write.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/catalog.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/rust.rs
  codegen/src/test_support.rs
  codegen/src/validate.rs
  docs/src/contributing/development.md
  docs/src/ptf-catalog/index.md
  specs/definitions/soil.yaml
  specs/schema/definitions.schema.json
  specs/schema/ptf-spec.schema.json
  targets/ptfkit-py/src/ptfkit/definitions/__init__.py
  targets/ptfkit-rs/src/definitions/mod.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

feat: add Rawls et al., (2003)
  codegen/src/model.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/native.rs
  codegen/src/targets/rust.rs
  docs/src/ptf-catalog/index.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/rawls2003.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/headers/rawls2003.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/cpp/modules/rawls2003.md
  docs/src/reference/python/index.md
  docs/src/reference/python/rawls2003.md
  specs/functions/rawls2003.yaml
  specs/schema/ptf-spec.schema.json
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/rawls2003.h
  targets/ptfkit-native/tests/c/rawls2003.c
  targets/ptfkit-native/tests/cpp/rawls2003.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/rawls2003.c
  targets/ptfkit-py/src/ptfkit/rawls2003.py
  targets/ptfkit-py/tests/test_rawls2003.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/rawls2003.rs
Due: ruff-check, ruff-format, mypy

chore: refactor
  codegen/src/model.rs
  codegen/src/render/c.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/rust.rs
  docs/src/ptf-catalog/index.md
  docs/src/ptf-catalog/sources/rawls2003.md
  docs/src/reference/c/headers/rawls2003.md
  docs/src/reference/cpp/modules/rawls2003.md
  specs/functions/rawls2003.yaml
  specs/schema/ptf-spec.schema.json
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/include/ptfkit/rawls2003.h
  targets/ptfkit-native/tests/c/rawls2003.c
  targets/ptfkit-native/tests/cpp/rawls2003.cpp
  targets/ptfkit-py/src/ptfkit/rawls2003.py
  targets/ptfkit-py/tests/test_rawls2003.py
  targets/ptfkit-rs/src/rawls2003.rs
Due: ruff-check, ruff-format, mypy

chore: fixes
  codegen/src/model.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/native.rs
  codegen/src/targets/rust.rs
  specs/schema/ptf-spec.schema.json
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/include/ptfkit/rawls2003.h
Due: none

chore: ya debil
  codegen/src/specs.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/python/wrapper.rs
  docs/src/reference/c/headers/rawls2003.md
  docs/src/reference/cpp/modules/rawls2003.md
  specs/functions/rawls2003.yaml
  targets/ptfkit-native/cpp/definitions/soil.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/include/ptfkit/definitions/soil.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/rawls2003.h
  targets/ptfkit-native/tests/c/rawls2003.c
  targets/ptfkit-native/tests/cpp/rawls2003.cpp
  targets/ptfkit-py/src/ptfkit/definitions/soil.py
  targets/ptfkit-py/src/ptfkit/rawls2003.py
  targets/ptfkit-py/tests/test_rawls2003.py
  targets/ptfkit-rs/src/definitions/mod.rs
  targets/ptfkit-rs/src/definitions/soil.rs
  targets/ptfkit-rs/src/rawls2003.rs
Due: ruff-check, ruff-format, mypy

chore: codex suka
  codegen/src/specs.rs
  mise.lock
Due: none

test(codegen): remove synthetic cross-target execution harness
  codegen/src/specs.rs
Due: none

chore(mise): revert changes
  mise.lock
Due: none

refactor(codegen): introduce typed errors
  codegen/Cargo.lock
  codegen/Cargo.toml
  codegen/src/compile.rs
  codegen/src/compile/error.rs
  codegen/src/diagnostics.rs
  codegen/src/formula.rs
  codegen/src/main.rs
  codegen/src/model.rs
  codegen/src/model/error.rs
  codegen/src/output/error.rs
  codegen/src/output/mod.rs
  codegen/src/output/write.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/specs/error.rs
  codegen/src/targets/error.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/extension.rs
  codegen/src/targets/python/mod.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/rust.rs
  codegen/src/validate.rs
  codegen/src/validate/error.rs
  codegen/src/version.rs
  docs/src/contributing/development.md
Due: none

refactor(codegen)!: flatten shared module paths
  codegen/src/specs.rs
  codegen/src/specs/error.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/rust.rs
  docs/src/ptf-catalog/index.md
  docs/src/reference/c/headers/rawls2003.md
  docs/src/reference/cpp/modules/rawls2003.md
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/cpp/soil.cppm
  targets/ptfkit-native/include/ptfkit/definitions/soil.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/rawls2003.h
  targets/ptfkit-native/include/ptfkit/soil.h
  targets/ptfkit-native/tests/c/rawls2003.c
  targets/ptfkit-native/tests/cpp/rawls2003.cpp
  targets/ptfkit-py/src/ptfkit/definitions/__init__.py
  targets/ptfkit-py/src/ptfkit/rawls2003.py
  targets/ptfkit-py/src/ptfkit/soil.py
  targets/ptfkit-py/tests/test_rawls2003.py
  targets/ptfkit-rs/src/definitions/mod.rs
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/rawls2003.rs
  targets/ptfkit-rs/src/soil.rs
Due: ruff-check, ruff-format, mypy

fix(codegen): generate Rust module registration
  codegen/src/fixtures/expected/rust/crate_root_empty.rs
  codegen/src/fixtures/expected/rust/crate_root_shared.rs
  codegen/src/fixtures/expected/rust/crate_root_sources.rs
  codegen/src/output/write.rs
  codegen/src/targets/rust.rs
  docs/src/contributing/development.md
  targets/ptfkit-rs/src/lib.rs
Due: none

refactor(codegen): make C++ exports explicit
  codegen/src/fixtures/expected/record_lookup/source.cppm
  codegen/src/fixtures/expected/tree/branch.cppm
  codegen/src/fixtures/expected/tree/variable.cppm
  codegen/src/specs.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  targets/ptfkit-native/cpp/ahuja1984.cppm
  targets/ptfkit-native/cpp/aimrun2009.cppm
  targets/ptfkit-native/cpp/beniaich2023.cppm
  targets/ptfkit-native/cpp/chakraborty2011.cppm
  targets/ptfkit-native/cpp/clapp1978.cppm
  targets/ptfkit-native/cpp/cosby1984.cppm
  targets/ptfkit-native/cpp/dharumarajan2019.cppm
  targets/ptfkit-native/cpp/dijkerman1988.cppm
  targets/ptfkit-native/cpp/ferrerjulia2004.cppm
  targets/ptfkit-native/cpp/gunarathna2019.cppm
  targets/ptfkit-native/cpp/hodnett2002.cppm
  targets/ptfkit-native/cpp/jabro1992.cppm
  targets/ptfkit-native/cpp/lal1979.cppm
  targets/ptfkit-native/cpp/li2007.cppm
  targets/ptfkit-native/cpp/mayr1999.cppm
  targets/ptfkit-native/cpp/myeni2021.cppm
  targets/ptfkit-native/cpp/oosterveld1980.cppm
  targets/ptfkit-native/cpp/pidgeon1972.cppm
  targets/ptfkit-native/cpp/puckett1985.cppm
  targets/ptfkit-native/cpp/rawls1982.cppm
  targets/ptfkit-native/cpp/rawls2003.cppm
  targets/ptfkit-native/cpp/saxton2006.cppm
  targets/ptfkit-native/cpp/soil.cppm
  targets/ptfkit-native/cpp/tiwary2014.cppm
  targets/ptfkit-native/cpp/varallyai1982.cppm
  targets/ptfkit-native/cpp/vereecken1989.cppm
  targets/ptfkit-native/cpp/wang2012.cppm
  targets/ptfkit-native/cpp/weber2020.cppm
  targets/ptfkit-native/cpp/zhao2016.cppm
Due: none

fix: Python ABI
  targets/ptfkit-py/CMakeLists.txt
Due: none

fix: mb tak blyad
  targets/ptfkit-py/CMakeLists.txt
Due: none

fix: pidor
  targets/ptfkit-py/CMakeLists.txt
Due: none

fix: zaebal
  targets/ptfkit-py/pyproject.toml
Due: uv-lock

fix: fix
  targets/ptfkit-py/CMakeLists.txt
Due: none

fix(python): Python ABI detection in CMake
  targets/ptfkit-py/CMakeLists.txt
  targets/ptfkit-py/pyproject.toml
Due: uv-lock

feat: add Wosten et al. (2001)
  codegen/src/specs.rs
  codegen/src/targets/python/wrapper.rs
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/wosten2001.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/headers/wosten2001.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/cpp/modules/wosten2001.md
  docs/src/reference/python/index.md
  docs/src/reference/python/wosten2001.md
  mise.lock
  mise.toml
  specs/functions/wosten2001.yaml
  specs/quantities.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/wosten2001.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/wosten2001.h
  targets/ptfkit-native/tasks.toml
  targets/ptfkit-native/tests/c/wosten2001.c
  targets/ptfkit-native/tests/cpp/wosten2001.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/wosten2001.c
  targets/ptfkit-py/src/ptfkit/wosten2001.py
  targets/ptfkit-py/tests/test_wosten2001.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/wosten2001.rs
Due: ruff-check, ruff-format, mypy

feat: add Bai et al., (2022)
  codegen/src/specs.rs
  docs/src/ptf-catalog/sources/bai2022.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/bai2022.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/bai2022.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/bai2022.md
  docs/src/reference/python/index.md
  specs/functions/bai2022.yaml
  targets/ptfkit-native/cpp/bai2022.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/bai2022.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/bai2022.c
  targets/ptfkit-native/tests/cpp/bai2022.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/bai2022.c
  targets/ptfkit-py/src/ptfkit/bai2022.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_bai2022.py
  targets/ptfkit-rs/src/bai2022.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

feat: add Weynats et al., (2009) with 2017 erratum
  codegen/src/specs.rs
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/weynants2009.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/headers/weynants2009.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/cpp/modules/weynants2009.md
  docs/src/reference/python/index.md
  docs/src/reference/python/weynants2009.md
  specs/functions/weynants2009.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/weynants2009.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/weynants2009.h
  targets/ptfkit-native/tests/c/weynants2009.c
  targets/ptfkit-native/tests/cpp/weynants2009.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/weynants2009.c
  targets/ptfkit-py/src/ptfkit/weynants2009.py
  targets/ptfkit-py/tests/test_weynants2009.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/weynants2009.rs
Due: ruff-check, ruff-format, mypy

feat: add Bai et al., (2022)
  docs/src/ptf-catalog/sources/bai2022.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/bai2022.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/bai2022.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/bai2022.md
  docs/src/reference/python/index.md
  specs/functions/bai2022.yaml
  targets/ptfkit-native/cpp/bai2022.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/bai2022.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/bai2022.c
  targets/ptfkit-native/tests/cpp/bai2022.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/bai2022.c
  targets/ptfkit-py/src/ptfkit/bai2022.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_bai2022.py
  targets/ptfkit-rs/src/bai2022.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

feat: add Ottoni et al., (2019)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/ottoni2019.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ottoni2019.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ottoni2019.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/index.md
  docs/src/reference/python/ottoni2019.md
  specs/functions/ottoni2019.yaml
  targets/ptfkit-native/cpp/ottoni2019.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/ottoni2019.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/ottoni2019.c
  targets/ptfkit-native/tests/cpp/ottoni2019.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ottoni2019.c
  targets/ptfkit-py/src/ptfkit/ottoni2019.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_ottoni2019.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/ottoni2019.rs
Due: ruff-check, ruff-format, mypy

feat: add Kalumba et al., (2021)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/kalumba2021.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/kalumba2021.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/kalumba2021.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/index.md
  docs/src/reference/python/kalumba2021.md
  specs/functions/kalumba2021.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/kalumba2021.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/kalumba2021.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/kalumba2021.c
  targets/ptfkit-native/tests/cpp/kalumba2021.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/kalumba2021.c
  targets/ptfkit-py/src/ptfkit/kalumba2021.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_kalumba2021.py
  targets/ptfkit-rs/src/kalumba2021.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy
