Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

uv-lock:
  name: uv lock
  language: system
  entry: uv
  args:
  - lock
  - --check
  pass_filenames: false

ruff-check:
  name: ruff check
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - check
  - --fix

ruff-format:
  name: ruff format
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - format

mypy:
  name: mypy
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - mypy

refactor(codegen): structure Python generation
  codegen/src/targets/c_expression.rs
  codegen/src/targets/py/c.rs
  codegen/src/targets/py/mod.rs
  codegen/src/targets/py/stub.rs
  codegen/src/targets/py/syntax.rs
  codegen/src/targets/py/test.rs
  codegen/src/targets/py/wrapper.rs
Due: none

refactor(codegen): declare output layouts
  codegen/src/targets/mod.rs
  codegen/src/targets/write.rs
Due: none

refactor(codegen): align Rust output pipeline
  codegen/src/targets/mod.rs
  codegen/src/targets/rs.rs
Due: none

refactor(codegen): converge output artifacts
  codegen/README.md
  codegen/src/targets/mod.rs
  codegen/src/targets/py/c.rs
  codegen/src/targets/py/mod.rs
  codegen/src/targets/py/test.rs
  codegen/src/targets/py/wrapper.rs
Due: none

refactor(codegen): structure documentation rendering
  codegen/src/render.rs
  codegen/src/targets/c_documentation.rs
  codegen/src/targets/cpp_documentation.rs
  codegen/src/targets/documentation.rs
  codegen/src/targets/python_documentation.rs
Due: none

refactor(codegen): organize modules by pipeline boundaries
  codegen/README.md
  codegen/src/compile.rs
  codegen/src/documentation.rs
  codegen/src/main.rs
  codegen/src/output/mod.rs
  codegen/src/output/write.rs
  codegen/src/render/c.rs
  codegen/src/render/markdown.rs
  codegen/src/render/mod.rs
  codegen/src/targets/c_documentation.rs
  codegen/src/targets/catalog.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/extension.rs
  codegen/src/targets/python/mod.rs
  codegen/src/targets/python/stub.rs
  codegen/src/targets/python/syntax.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/reference/mod.rs
  codegen/src/targets/reference/python.rs
  codegen/src/targets/rust.rs
  targets/ptfkit-native/cmake/ptfkitModules.cmake
Due: none

refactor(codegen): initialize Writer with capacity
  codegen/src/render/mod.rs
Due: none

refactor(codegen): finalize
  codegen/src/render/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/extension.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
Due: none

refactor(codegen): restructure generator
  .github/workflows/pr.yaml
  Justfile
  codegen/README.md
  codegen/src/compile.rs
  codegen/src/documentation.rs
  codegen/src/main.rs
  codegen/src/output/mod.rs
  codegen/src/output/write.rs
  codegen/src/render/c.rs
  codegen/src/render/markdown.rs
  codegen/src/render/mod.rs
  codegen/src/targets/c_documentation.rs
  codegen/src/targets/c_expression.rs
  codegen/src/targets/catalog.rs
  codegen/src/targets/cpp_documentation.rs
  codegen/src/targets/documentation.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/py/c.rs
  codegen/src/targets/py/test.rs
  codegen/src/targets/python/extension.rs
  codegen/src/targets/python/mod.rs
  codegen/src/targets/python/stub.rs
  codegen/src/targets/python/syntax.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/reference/mod.rs
  codegen/src/targets/reference/python.rs
  codegen/src/targets/rust.rs
  docs/src/contributing/development.md
  targets/ptfkit-native/cmake/ptfkitModules.cmake
Due: none

feat: Added USDA converter
  .agents/skills/ptf-extract/SKILL.md
  .agents/skills/ptf-extract/references/extraction-quality-gate.md
  .agents/skills/ptf-extract/references/spec-template.yaml
  codegen/src/documentation.rs
  codegen/src/main.rs
  codegen/src/model.rs
  codegen/src/specs.rs
  codegen/src/targets/catalog.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/python/mod.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/python.rs
  codegen/src/usda_texture.rs
  codegen/src/validate.rs
  docs/src/.nav.yml
  docs/src/reference/python/index.md
  docs/src/reference/python/usda_texture.md
  docs/src/utilities/.nav.yml
  docs/src/utilities/usda-texture.md
  specs/schema/ptf-spec.schema.json
  specs/schema/usda-texture.schema.json
  specs/utilities/usda_texture.yaml
  targets/ptfkit-py/src/ptfkit/usda_texture.py
  targets/ptfkit-py/tests/test_usda_texture.py
Due: ruff-check, ruff-format, mypy

chore: use mise for project management
  .agents/skills/ptf-generate/references/generation-checklist.md
  .github/scripts/check-version.py
  .github/scripts/ruff.toml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  Justfile
  codegen/justfile
  codegen/src/output/write.rs
  codegen/tasks.toml
  docs/src/contributing/development.md
  docs/tasks.toml
  mise.lock
  mise.toml
  ruff.toml
  targets/ptfkit-native/README.md
  targets/ptfkit-native/justfile
  targets/ptfkit-native/tasks.toml
  targets/ptfkit-py/justfile
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/ruff.toml
  targets/ptfkit-py/tasks.toml
  targets/ptfkit-py/tests/ruff.toml
  targets/ptfkit-py/uv.lock
  targets/ptfkit-rs/justfile
  targets/ptfkit-rs/tasks.toml
Due: uv-lock, ruff-check, ruff-format, mypy

ci: rename PR workflow to CI
  .github/workflows/ci.yaml
  README.md
Due: none

feat: add Saxton et al. (2006)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/saxton2006.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/headers/saxton2006.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/cpp/modules/saxton2006.md
  docs/src/reference/python/index.md
  docs/src/reference/python/saxton2006.md
  specs/functions/saxton2006.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/saxton2006.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/saxton2006.h
  targets/ptfkit-native/tests/c/saxton2006.c
  targets/ptfkit-native/tests/cpp/saxton2006.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/saxton2006.c
  targets/ptfkit-py/src/ptfkit/saxton2006.py
  targets/ptfkit-py/tests/test_saxton2006.py
  targets/ptfkit-rs/src/saxton2006.rs
Due: ruff-check, ruff-format, mypy

feat: Add Oosterveld and Chang (1980)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/oosterveld1980.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/oosterveld1980.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/oosterveld1980.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/index.md
  docs/src/reference/python/oosterveld1980.md
  specs/functions/oosterveld1980.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/oosterveld1980.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/oosterveld1980.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/oosterveld1980.c
  targets/ptfkit-native/tests/cpp/oosterveld1980.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/oosterveld1980.c
  targets/ptfkit-py/src/ptfkit/oosterveld1980.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_oosterveld1980.py
  targets/ptfkit-rs/src/oosterveld1980.rs
Due: ruff-check, ruff-format, mypy

feat(rust): add configurable inline hints
  codegen/src/targets/rust.rs
  targets/ptfkit-rs/Cargo.toml
  targets/ptfkit-rs/README.md
  targets/ptfkit-rs/src/ahuja1984.rs
  targets/ptfkit-rs/src/aimrun2009.rs
  targets/ptfkit-rs/src/beniaich2023.rs
  targets/ptfkit-rs/src/chakraborty2011.rs
  targets/ptfkit-rs/src/cosby1984.rs
  targets/ptfkit-rs/src/dharumarajan2019.rs
  targets/ptfkit-rs/src/ferrerjulia2004.rs
  targets/ptfkit-rs/src/hodnett2002.rs
  targets/ptfkit-rs/src/jabro1992.rs
  targets/ptfkit-rs/src/li2007.rs
  targets/ptfkit-rs/src/mayr1999.rs
  targets/ptfkit-rs/src/oosterveld1980.rs
  targets/ptfkit-rs/src/pidgeon1972.rs
  targets/ptfkit-rs/src/puckett1985.rs
  targets/ptfkit-rs/src/rawls1982.rs
  targets/ptfkit-rs/src/saxton2006.rs
  targets/ptfkit-rs/src/tiwary2014.rs
  targets/ptfkit-rs/src/varallyai1982.rs
  targets/ptfkit-rs/src/vereecken1989.rs
  targets/ptfkit-rs/src/wang2012.rs
  targets/ptfkit-rs/src/weber2020.rs
Due: none

chore(deps): update codegen dependencies
  codegen/Cargo.lock
  codegen/Cargo.toml
Due: none

chore(deps): update ptfkit-py dependencies
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/uv.lock
Due: uv-lock

chore(deps): lock CI/CD script versions
  .github/scripts/check-version.py.lock
  .github/scripts/python-matrix.py.lock
Due: none

docs: enforce lowercase project name
  AGENTS.md
Due: none

refactor(native): decouple C++ module build from code generation
  codegen/src/output/mod.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  targets/ptfkit-native/CMakeLists.txt
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/CMakeLists.txt
Due: none

fix(release): exclude development files from native archive
  .github/workflows/release.yaml
Due: none

fix(native): support C-only builds without a C++ compiler
  targets/ptfkit-native/CMakeLists.txt
  targets/ptfkit-native/tests/CMakeLists.txt
Due: none

feat(benches): add cross-target performance harness
  .gitattributes
  benches/.gitignore
  benches/fixtures/soilgrids.tar.zst
  benches/prepare_dataset.py
  benches/ptfkit-native/.gitignore
  benches/ptfkit-native/CMakeLists.txt
  benches/ptfkit-native/src/bench.c
  benches/ptfkit-native/src/bench.cpp
  benches/ptfkit-native/src/npy.h
  benches/ptfkit-py/.gitignore
  benches/ptfkit-py/pyproject.toml
  benches/ptfkit-py/src/ptfkit_py_benchmarks/__init__.py
  benches/ptfkit-py/uv.lock
  benches/ptfkit-rs/.gitignore
  benches/ptfkit-rs/Cargo.lock
  benches/ptfkit-rs/Cargo.toml
  benches/ptfkit-rs/src/main.rs
  benches/ruff.toml
  benches/run.py
  benches/tasks.toml
  mise.toml
Due: uv-lock, ruff-check, ruff-format, mypy

perf: optimize small integer powers in generated targets
  codegen/src/render/c.rs
  codegen/src/targets/native.rs
  targets/ptfkit-native/cpp/CMakeLists.txt
  targets/ptfkit-native/cpp/ferrerjulia2004.cppm
  targets/ptfkit-native/cpp/hodnett2002.cppm
  targets/ptfkit-native/cpp/mayr1999.cppm
  targets/ptfkit-native/cpp/saxton2006.cppm
  targets/ptfkit-native/cpp/varallyai1982.cppm
  targets/ptfkit-native/cpp/wang2012.cppm
  targets/ptfkit-native/include/ptfkit/detail/power.h
  targets/ptfkit-native/include/ptfkit/ferrerjulia2004.h
  targets/ptfkit-native/include/ptfkit/hodnett2002.h
  targets/ptfkit-native/include/ptfkit/mayr1999.h
  targets/ptfkit-native/include/ptfkit/saxton2006.h
  targets/ptfkit-native/include/ptfkit/varallyai1982.h
  targets/ptfkit-native/include/ptfkit/wang2012.h
  targets/ptfkit-py/src/ptfkit/ferrerjulia2004.c
  targets/ptfkit-py/src/ptfkit/hodnett2002.c
  targets/ptfkit-py/src/ptfkit/mayr1999.c
  targets/ptfkit-py/src/ptfkit/saxton2006.c
  targets/ptfkit-py/src/ptfkit/ufunc.h
  targets/ptfkit-py/src/ptfkit/varallyai1982.c
  targets/ptfkit-py/src/ptfkit/wang2012.c
Due: none

feat(codegen): enforce extraction of repeated expressions
  .agents/skills/ptf-extract/SKILL.md
  .agents/skills/ptf-generate/SKILL.md
  codegen/src/formula.rs
  codegen/src/model.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  specs/functions/hodnett2002.yaml
  specs/functions/mayr1999.yaml
  specs/functions/saxton2006.yaml
  specs/functions/wang2012.yaml
  targets/ptfkit-native/cpp/hodnett2002.cppm
  targets/ptfkit-native/cpp/mayr1999.cppm
  targets/ptfkit-native/cpp/saxton2006.cppm
  targets/ptfkit-native/cpp/wang2012.cppm
  targets/ptfkit-native/include/ptfkit/hodnett2002.h
  targets/ptfkit-native/include/ptfkit/mayr1999.h
  targets/ptfkit-native/include/ptfkit/saxton2006.h
  targets/ptfkit-native/include/ptfkit/wang2012.h
  targets/ptfkit-py/src/ptfkit/hodnett2002.c
  targets/ptfkit-py/src/ptfkit/mayr1999.c
  targets/ptfkit-py/src/ptfkit/saxton2006.c
  targets/ptfkit-py/src/ptfkit/wang2012.c
  targets/ptfkit-rs/src/hodnett2002.rs
  targets/ptfkit-rs/src/mayr1999.rs
  targets/ptfkit-rs/src/saxton2006.rs
  targets/ptfkit-rs/src/wang2012.rs
Due: none

Path conditions:
  uv-lock: any of: .*(uv\.lock|pyproject\.toml|uv\.toml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
