Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

uv-lock:
  name: uv lock
  language: system
  entry: uv
  args:
  - lock
  - --check
  pass_filenames: false

ruff-check:
  name: ruff check
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - check
  - --fix

ruff-format:
  name: ruff format
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - format

mypy:
  name: mypy
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - mypy

ci(docs): add Pages deployment workflow
  .github/workflows/deploy-docs.yaml
Due: none

ci(pypi): add PyPI deployment workflow
  .github/workflows/deploy-docs.yaml
  .github/workflows/deploy-pypi.yaml
Due: none

chore(ci): add workflow for PR checks and coverage
  .github/workflows/coverage.yaml
  .github/workflows/pr.yaml
  .gitignore
  pyproject.toml
  uv.lock
Due: uv-lock

chore(ci): add workflow for PR checks and coverage (#1)
  .github/workflows/coverage.yaml
  .github/workflows/pr.yaml
  .gitignore
  pyproject.toml
  uv.lock
Due: uv-lock

chore: add badges and centralize README processing
  .github/workflows/pr.yaml
  .gitignore
  MANIFEST.in
  README.md
  docs/__init__.py
  docs/hooks.py
  docs/util.py
  mkdocs.yml
  pyproject.toml
  setup.py
Due: uv-lock, ruff-check, ruff-format, mypy

chore(ci): run PR workflow on push to main
  .github/workflows/ci.yaml
Due: none

ci: restrict PR workflow to main and add summary
  .github/workflows/pr.yaml
Due: none

test PR checks
  src/ptfkit/_core.py
Due: ruff-check, ruff-format, mypy

ci: restrict PR workflow to main and add summary
  .github/workflows/pr.yaml
  README.md
Due: none

refactor: rename variables for clarity
  src/ptfkit/_core.py
Due: ruff-check, ruff-format, mypy

docs(agents): add role guidelines for AI workflow
  .ai/agents/developer.md
  .ai/agents/maintainer.md
  .ai/agents/tester.md
  AGENTS.md
Due: none

Strongly no emojis!
  .ai/agents/maintainer.md
Due: none

docs: pick out CONTRIBUTING.md from README.md
  CONTRIBUTING.md
  README.md
Due: none

docs(agents): improve instructions
  .ai/agents/developer.md
  .ai/agents/maintainer.md
  .ai/agents/tester.md
  AGENTS.md
Due: none

feat: add Pidgeon 1972 PTFs
  src/ptfkit/_core.py
  src/ptfkit/pidgeon1972.py
Due: ruff-check, ruff-format, mypy

feat: expand Pidgeon1972 PTFs
  src/ptfkit/_core.py
  src/ptfkit/pidgeon1972.py
Due: ruff-check, ruff-format, mypy

fix(justfile): make _core.c cleanup non-failing
  Justfile
Due: none

feat: fix OCR typo
  src/ptfkit/_core.py
Due: ruff-check, ruff-format, mypy

docs(workflow): add PTF spec implementation workflow
  .codex/skills/ptf-python-bindings/SKILL.md
  .codex/skills/ptf-python-bindings/agents/openai.yaml
  .codex/skills/ptf-python-bindings/references/python-bindings-contract.md
  .codex/skills/ptf-review/SKILL.md
  .codex/skills/ptf-review/agents/openai.yaml
  .codex/skills/ptf-review/references/implementation-review-checklist.md
  .codex/skills/ptf-rust-core/SKILL.md
  .codex/skills/ptf-rust-core/agents/openai.yaml
  .codex/skills/ptf-rust-core/references/rust-core-patterns.md
  .codex/skills/ptf-spec-ingest/SKILL.md
  .codex/skills/ptf-spec-ingest/agents/openai.yaml
  .codex/skills/ptf-spec-ingest/references/implementation-checklist-template.md
  .codex/skills/ptf-spec-ingest/references/spec-quality-gate.md
  .codex/skills/ptf-spec-ingest/references/spec-template.md
  AGENTS.md
  specs/functions/1984_Cosby_A_Statistical_Exploration_of_the_Relationships_of_Soil_Moisture_Characteristics_to_the_Physical_Properties_of_Soils.md
Due: none

Testing rust implementation on a random paper
  .codex/skills/ptf-spec-ingest/SKILL.md
  .codex/skills/ptf-spec-ingest/references/paper-ingest-report-template.md
  .codex/skills/ptf-spec-ingest/references/spec-quality-gate.md
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/ptfkit-core/Cargo.toml
  crates/ptfkit-core/src/cosby1984.rs
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-py/Cargo.toml
  crates/ptfkit-py/src/lib.rs
  specs/functions/1984_Cosby_A_Statistical_Exploration_of_the_Relationships_of_Soil_Moisture_Characteristics_to_the_Physical_Properties_of_Soils.ingest.md
  specs/functions/calc_ptf_cosby1984_univariate.md
  specs/papers/1984_Cosby_A_Statistical_Exploration_of_the_Relationships_of_Soil_Moisture_Characteristics_to_the_Physical_Properties_of_Soils.md
  src/ptfkit/cosby1984.py
  tests/golden/calc_ptf_cosby1984_univariate.json
  tests/test_cosby1984.py
Due: ruff-check, ruff-format, mypy

Some papers
  .gitignore
  crates/ptfkit-core/src/aimrun2009.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-core/src/li2007.rs
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-py/src/lib.rs
  specs/functions/1992_Jabro_Estimation_of_saturated_hydraulic_conductivity_of_soils.ingest.md
  specs/functions/2007_Li_Estimating_soil_hydraulic_properties_of_Fengqiu_County_soils.ingest.md
  specs/functions/2009_aimrun_Pedo_transfer_function_for_saturated_hydraulic_conductivity.ingest.md
  specs/functions/calc_ptf_aimrun2009.md
  specs/functions/calc_ptf_jabro1992.md
  specs/functions/calc_ptf_li2007.md
  specs/papers/1958_gardner_Some_steady_state_solutions_of_the_unsaturated_moisture.md
  specs/papers/1964_brooks and corey_HYDRAULIC PROPERTIES OF POROUS MEDIA.md
  specs/papers/1965_brooks_HYDRAULIC PROPERTIES OF POROUS MEDIA.md
  specs/papers/1968_petersen_Moisture_Characteristics_of_Pennsylvania_Soils_I_Moisture.md
  specs/papers/1972_pidgeon_THE_MEASUREMENT_AND_PREDICTION_OF_AVAILABLE_WATER_CAPACITY.md
  specs/papers/1985_puckett_Physical and mineralogical data to determine.md
  specs/papers/1992_Jabro_Estimation_of_saturated_hydraulic_conductivity_of_soils.md
  specs/papers/2007_Li_Estimating_soil_hydraulic_properties_of_Fengqiu_County_soils.md
  specs/papers/2009_aimrun_Pedo_transfer_function_for_saturated_hydraulic_conductivity.md
  src/ptfkit/aimrun2009.py
  src/ptfkit/jabro1992.py
  src/ptfkit/li2007.py
  tests/golden/calc_ptf_aimrun2009.json
  tests/golden/calc_ptf_jabro1992.json
  tests/golden/calc_ptf_li2007.json
  tests/test_aimrun2009.py
  tests/test_jabro1992.py
  tests/test_li2007.py
Due: ruff-check, ruff-format, mypy

chore(skills): move project skills to .agents
  .agents/skills/ptf-python-bindings/SKILL.md
  .agents/skills/ptf-python-bindings/agents/openai.yaml
  .agents/skills/ptf-python-bindings/references/python-bindings-contract.md
  .agents/skills/ptf-review/SKILL.md
  .agents/skills/ptf-review/agents/openai.yaml
  .agents/skills/ptf-review/references/implementation-review-checklist.md
  .agents/skills/ptf-rust-core/SKILL.md
  .agents/skills/ptf-rust-core/agents/openai.yaml
  .agents/skills/ptf-rust-core/references/rust-core-patterns.md
  .agents/skills/ptf-spec-ingest/SKILL.md
  .agents/skills/ptf-spec-ingest/agents/openai.yaml
  .agents/skills/ptf-spec-ingest/references/implementation-checklist-template.md
  .agents/skills/ptf-spec-ingest/references/paper-ingest-report-template.md
  .agents/skills/ptf-spec-ingest/references/spec-quality-gate.md
  .agents/skills/ptf-spec-ingest/references/spec-template.md
  AGENTS.md
Due: none

Work in progress
  .agents/skills/ptf-spec-ingest/SKILL.md
  .agents/skills/ptf-spec-ingest/references/spec-template.md
  .github/workflows/coverage.yaml
  .github/workflows/pr.yaml
  .gitignore
  AGENTS.md
  crates/ptfkit-core/src/aimrun2009.rs
  crates/ptfkit-core/src/cosby1984.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-core/src/li2007.rs
  crates/ptfkit-py/pyproject.toml
  specs/functions/aimrun2009.ingest.md
  specs/functions/aimrun2009.md
  specs/functions/cosby1984.ingest.md
  specs/functions/cosby1984.md
  specs/functions/jabro1992.ingest.md
  specs/functions/jabro1992.md
  specs/functions/li2007.ingest.md
  specs/functions/li2007.md
  uv.lock
Due: uv-lock

Work in progress
  .agents/skills/ptf-python-bindings/references/python-bindings-contract.md
  .ai/agents/developer.md
  .ai/agents/tester.md
  .github/workflows/coverage.yaml
  .github/workflows/pr.yaml
  .gitignore
  AGENTS.md
  crates/ptfkit-py/pyproject.toml
  crates/ptfkit-py/python/ptfkit/__init__.py
  crates/ptfkit-py/python/ptfkit/_core.py
  crates/ptfkit-py/python/ptfkit/_vectorize.py
  crates/ptfkit-py/python/ptfkit/aimrun2009.py
  crates/ptfkit-py/python/ptfkit/cosby1984.py
  crates/ptfkit-py/python/ptfkit/jabro1992.py
  crates/ptfkit-py/python/ptfkit/li2007.py
  crates/ptfkit-py/python/ptfkit/pidgeon1972.py
  crates/ptfkit-py/python/ptfkit/puckett1985.py
  crates/ptfkit-py/python/ptfkit/py.typed
  crates/ptfkit-py/python/ptfkit/qiao2018.py
  crates/ptfkit-py/python/ptfkit/ramos2023.py
  crates/ptfkit-py/python/ptfkit/rawls1982.py
  crates/ptfkit-py/python/ptfkit/rawls1983.py
  crates/ptfkit-py/python/ptfkit/rawls1985.py
  crates/ptfkit-py/python/ptfkit/santra2008.py
  crates/ptfkit-py/python/ptfkit/tiwary2014.py
  crates/ptfkit-py/python/ptfkit/wang2012.py
  pyproject.toml
Due: uv-lock, ruff-check, ruff-format, mypy

refactor(python): move project tooling into bindings crate
  .github/workflows/coverage.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/deploy-pypi.yaml
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  AGENTS.md
  CONTRIBUTING.md
  Justfile
  MANIFEST.in
  crates/ptfkit-py/.gitignore
  crates/ptfkit-py/LICENSE
  crates/ptfkit-py/README.md
  crates/ptfkit-py/docs/hooks.py
  crates/ptfkit-py/docs/js/katex.js
  crates/ptfkit-py/justfile
  crates/ptfkit-py/mkdocs.yml
  crates/ptfkit-py/pyproject.toml
  crates/ptfkit-py/tests/ruff.toml
  crates/ptfkit-py/tests/test_aimrun2009.py
  crates/ptfkit-py/tests/test_cosby1984.py
  crates/ptfkit-py/tests/test_jabro1992.py
  crates/ptfkit-py/tests/test_li2007.py
  crates/ptfkit-py/tests/test_puckett1985.py
  crates/ptfkit-py/tests/test_qiao2018.py
  crates/ptfkit-py/tests/test_ramos2023.py
  crates/ptfkit-py/tests/test_rawls1982.py
  crates/ptfkit-py/tests/test_rawls1983.py
  crates/ptfkit-py/tests/test_rawls1985.py
  crates/ptfkit-py/tests/test_santra2008.py
  crates/ptfkit-py/tests/test_tiwary2014.py
  crates/ptfkit-py/tests/test_wang2012.py
  crates/ptfkit-py/uv.lock
  docs/__init__.py
  docs/hooks.py
  docs/ruff.toml
  docs/util.py
  pyproject.toml
  uv.lock
Due: uv-lock, ruff-check, ruff-format, mypy

Refactor workspace configuration and centralize metadata
  Cargo.toml
  crates/ptfkit-core/Cargo.toml
  crates/ptfkit-py/Cargo.toml
Due: none

Remove obsolete agent roles
  .agents/skills/ptf-spec-ingest/SKILL.md
  .agents/skills/ptf-spec-ingest/references/paper-ingest-report-template.md
  .agents/skills/ptf-spec-ingest/references/spec-quality-gate.md
  .ai/agents/developer.md
  .ai/agents/maintainer.md
  .ai/agents/tester.md
  AGENTS.md
  specs/functions/aimrun2009.ingest.md
  specs/functions/cosby1984.ingest.md
  specs/functions/cosby1984.md
  specs/functions/jabro1992.ingest.md
  specs/functions/li2007.ingest.md
Due: none

Refactor PTF spec workflow and simplify spec files
  .agents/skills/ptf-review/references/implementation-review-checklist.md
  .agents/skills/ptf-rust-core/SKILL.md
  .agents/skills/ptf-spec-ingest/SKILL.md
  .agents/skills/ptf-spec-ingest/references/implementation-checklist-template.md
  .agents/skills/ptf-spec-ingest/references/paper-ingest-report-template.md
  .agents/skills/ptf-spec-ingest/references/spec-quality-gate.md
  .agents/skills/ptf-spec-ingest/references/spec-template.md
  .gitignore
  AGENTS.md
  specs/functions/aimrun2009.ingest.md
  specs/functions/aimrun2009.md
  specs/functions/cosby1984.ingest.md
  specs/functions/cosby1984.md
  specs/functions/jabro1992.ingest.md
  specs/functions/jabro1992.md
  specs/functions/li2007.ingest.md
  specs/functions/li2007.md
Due: none

Rewrite documentation and remove Cython references
  .env.development
  AGENTS.md
  CONTRIBUTING.md
  README.md
  crates/ptfkit-py/pyproject.toml
Due: uv-lock

Remove legacy Python fallback for migrated functions
  crates/ptfkit-py/python/ptfkit/aimrun2009.py
  crates/ptfkit-py/python/ptfkit/cosby1984.py
  crates/ptfkit-py/python/ptfkit/jabro1992.py
  crates/ptfkit-py/python/ptfkit/li2007.py
Due: ruff-check, ruff-format, mypy

Redefine PTF specification format and quality gate
  .agents/skills/ptf-review/references/implementation-review-checklist.md
  .agents/skills/ptf-spec-ingest/SKILL.md
  .agents/skills/ptf-spec-ingest/references/spec-quality-gate.md
  .agents/skills/ptf-spec-ingest/references/spec-template.md
  README.md
  specs/README.md
  specs/functions/aimrun2009.md
  specs/functions/cosby1984.md
  specs/functions/jabro1992.md
  specs/functions/li2007.md
  specs/schema/ptf-spec-v1.schema.json
Due: none

Path conditions:
  uv-lock: any of: .*(uv\.lock|pyproject\.toml|uv\.toml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
