Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

uv-lock:
  name: uv lock
  language: system
  entry: uv
  args:
  - lock
  - --check
  pass_filenames: false

ruff-check:
  name: ruff check
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - check
  - --fix

ruff-format:
  name: ruff format
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - format

mypy:
  name: mypy
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - mypy

chore: bump version to 0.3.0
  CITATION.cff
  targets/ptfkit-native/cmake/ptfkitVersion.cmake
  targets/ptfkit-py/src/ptfkit/_version.py
  targets/ptfkit-rs/Cargo.lock
  targets/ptfkit-rs/Cargo.toml
Due: ruff-check, ruff-format, mypy

meta: improve Python package discoverability
  targets/ptfkit-py/pyproject.toml
Due: uv-lock

meta: improve Rust crate discoverability
  targets/ptfkit-rs/Cargo.toml
Due: none

meta: refine Rust package keywords
  targets/ptfkit-rs/Cargo.toml
Due: none

docs: improve package discoverability
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-rs/Cargo.toml
Due: uv-lock

refactor(native): simplify C struct result initialization
  codegen/src/targets/native.rs
  targets/ptfkit-native/include/ptfkit/beniaich2023.h
  targets/ptfkit-native/include/ptfkit/chakraborty2011.h
  targets/ptfkit-native/include/ptfkit/cosby1984.h
  targets/ptfkit-native/include/ptfkit/dharumarajan2019.h
  targets/ptfkit-native/include/ptfkit/hodnett2002.h
  targets/ptfkit-native/include/ptfkit/li2007.h
  targets/ptfkit-native/include/ptfkit/mayr1999.h
  targets/ptfkit-native/include/ptfkit/puckett1985.h
  targets/ptfkit-native/include/ptfkit/rawls1982.h
  targets/ptfkit-native/include/ptfkit/saxton2006.h
  targets/ptfkit-native/include/ptfkit/tiwary2014.h
  targets/ptfkit-native/include/ptfkit/varallyai1982.h
  targets/ptfkit-native/include/ptfkit/vereecken1989.h
  targets/ptfkit-native/include/ptfkit/wang2012.h
  targets/ptfkit-native/include/ptfkit/weber2020.h
Due: none

refactor(native): generate lookups as tables
  codegen/src/semantic.rs
  codegen/src/targets/native.rs
  targets/ptfkit-native/cpp/clapp1978.cppm
  targets/ptfkit-native/include/ptfkit/clapp1978.h
  targets/ptfkit-native/include/ptfkit/detail/record.h
Due: none

refactor(native): return C++ fallback tests
  targets/ptfkit-native/tests/CMakeLists.txt
  targets/ptfkit-native/tests/c/CMakeLists.txt
  targets/ptfkit-native/tests/close_enough.h
  targets/ptfkit-native/tests/cpp_fallback/CMakeLists.txt
Due: none

fix(specs): set retention A tolerance to 1%
  specs/quantities.yaml
  targets/ptfkit-native/tests/c/saxton2006.c
  targets/ptfkit-native/tests/cpp/saxton2006.cpp
  targets/ptfkit-py/tests/test_saxton2006.py
  targets/ptfkit-rs/src/saxton2006.rs
Due: ruff-check, ruff-format, mypy

docs: clarify verification case ID validation
  .agents/skills/ptf-extract/SKILL.md
  docs/src/contributing/verification.md
  docs/src/ptf-catalog/index.md
Due: none

fix(codegen): tests
  codegen/src/semantic.rs
Due: none

test(codegen): replace weak tests with contracts
  codegen/src/corpus_report.rs
  codegen/src/fixtures/quantities.yaml
  codegen/src/fixtures/source.yaml
  codegen/src/fixtures/units.yaml
  codegen/src/main.rs
  codegen/src/model.rs
  codegen/src/output/write.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/python/extension.rs
  codegen/src/targets/python/stub.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/reference/python.rs
  codegen/src/targets/rust.rs
  codegen/src/test_support.rs
Due: none

feat(agents): add unit test quality skill
  .agents/skills/unit-test-quality/SKILL.md
  .agents/skills/unit-test-quality/agents/openai.yaml
  AGENTS.md
Due: none

test(codegen): strengthen regression protection
  codegen/src/output/write.rs
  codegen/src/render/c.rs
  codegen/src/specs.rs
Due: none

feat: add Gunarathna et al. (2019)
  docs/src/ptf-catalog/sources/gunarathna2019.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/gunarathna2019.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/gunarathna2019.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/gunarathna2019.md
  docs/src/reference/python/index.md
  specs/functions/gunarathna2019.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/gunarathna2019.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/gunarathna2019.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/gunarathna2019.c
  targets/ptfkit-native/tests/cpp/gunarathna2019.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/gunarathna2019.c
  targets/ptfkit-py/src/ptfkit/gunarathna2019.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_gunarathna2019.py
  targets/ptfkit-rs/src/gunarathna2019.rs
Due: ruff-check, ruff-format, mypy

feat: add Zhao et al. (2016)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/zhao2016.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/headers/zhao2016.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/cpp/modules/zhao2016.md
  docs/src/reference/python/index.md
  docs/src/reference/python/zhao2016.md
  specs/functions/zhao2016.yaml
  specs/quantities.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/cpp/zhao2016.cppm
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/include/ptfkit/zhao2016.h
  targets/ptfkit-native/tests/c/zhao2016.c
  targets/ptfkit-native/tests/cpp/zhao2016.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/src/ptfkit/zhao2016.c
  targets/ptfkit-py/src/ptfkit/zhao2016.py
  targets/ptfkit-py/tests/test_zhao2016.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/zhao2016.rs
Due: ruff-check, ruff-format, mypy

feat: add Lal et al. (1979)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/lal1979.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/lal1979.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/lal1979.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/index.md
  docs/src/reference/python/lal1979.md
  specs/functions/lal1979.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/lal1979.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/lal1979.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/lal1979.c
  targets/ptfkit-native/tests/cpp/lal1979.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/lal1979.c
  targets/ptfkit-py/src/ptfkit/lal1979.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_lal1979.py
  targets/ptfkit-rs/src/lal1979.rs
Due: ruff-check, ruff-format, mypy

feat: add Dijkerman et al. (1988)
  docs/src/ptf-catalog/sources/dijkerman1988.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/dijkerman1988.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/dijkerman1988.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/dijkerman1988.md
  docs/src/reference/python/index.md
  specs/functions/dijkerman1988.yaml
  targets/ptfkit-native/cpp/dijkerman1988.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/dijkerman1988.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/dijkerman1988.c
  targets/ptfkit-native/tests/cpp/dijkerman1988.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/dijkerman1988.c
  targets/ptfkit-py/src/ptfkit/dijkerman1988.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_dijkerman1988.py
  targets/ptfkit-rs/src/dijkerman1988.rs
Due: ruff-check, ruff-format, mypy

test(native): streamline umbrella coverage
  codegen/src/targets/native.rs
  docs/src/contributing/development.md
  targets/ptfkit-native/tests/CMakeLists.txt
  targets/ptfkit-native/tests/c/CMakeLists.txt
  targets/ptfkit-native/tests/cpp/CMakeLists.txt
  targets/ptfkit-native/tests/cpp/ahuja1984.cpp
  targets/ptfkit-native/tests/cpp/aimrun2009.cpp
  targets/ptfkit-native/tests/cpp/beniaich2023.cpp
  targets/ptfkit-native/tests/cpp/chakraborty2011.cpp
  targets/ptfkit-native/tests/cpp/clapp1978.cpp
  targets/ptfkit-native/tests/cpp/cosby1984.cpp
  targets/ptfkit-native/tests/cpp/dharumarajan2019.cpp
  targets/ptfkit-native/tests/cpp/dijkerman1988.cpp
  targets/ptfkit-native/tests/cpp/ferrerjulia2004.cpp
  targets/ptfkit-native/tests/cpp/gunarathna2019.cpp
  targets/ptfkit-native/tests/cpp/hodnett2002.cpp
  targets/ptfkit-native/tests/cpp/jabro1992.cpp
  targets/ptfkit-native/tests/cpp/lal1979.cpp
  targets/ptfkit-native/tests/cpp/li2007.cpp
  targets/ptfkit-native/tests/cpp/mayr1999.cpp
  targets/ptfkit-native/tests/cpp/oosterveld1980.cpp
  targets/ptfkit-native/tests/cpp/pidgeon1972.cpp
  targets/ptfkit-native/tests/cpp/puckett1985.cpp
  targets/ptfkit-native/tests/cpp/rawls1982.cpp
  targets/ptfkit-native/tests/cpp/saxton2006.cpp
  targets/ptfkit-native/tests/cpp/tiwary2014.cpp
  targets/ptfkit-native/tests/cpp/varallyai1982.cpp
  targets/ptfkit-native/tests/cpp/vereecken1989.cpp
  targets/ptfkit-native/tests/cpp/wang2012.cpp
  targets/ptfkit-native/tests/cpp/weber2020.cpp
  targets/ptfkit-native/tests/cpp/zhao2016.cpp
  targets/ptfkit-native/tests/cpp_fallback/CMakeLists.txt
  targets/ptfkit-native/tests/support/umbrella.c
  targets/ptfkit-native/tests/support/umbrella.cpp
Due: none

feat: add Myeni et al., (2021)
  docs/src/ptf-catalog/sources/index.md
  docs/src/ptf-catalog/sources/myeni2021.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/myeni2021.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/myeni2021.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/index.md
  docs/src/reference/python/myeni2021.md
  specs/functions/myeni2021.yaml
  specs/units.yaml
  targets/ptfkit-native/cpp/myeni2021.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/myeni2021.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/myeni2021.c
  targets/ptfkit-native/tests/cpp/myeni2021.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/myeni2021.c
  targets/ptfkit-py/src/ptfkit/myeni2021.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_myeni2021.py
  targets/ptfkit-rs/src/lib.rs
  targets/ptfkit-rs/src/myeni2021.rs
Due: ruff-check, ruff-format, mypy

chore: bump version to 0.4.0
  CITATION.cff
  targets/ptfkit-native/cmake/ptfkitVersion.cmake
  targets/ptfkit-py/src/ptfkit/_version.py
  targets/ptfkit-rs/Cargo.lock
  targets/ptfkit-rs/Cargo.toml
Due: ruff-check, ruff-format, mypy

feat(codegen): support shared definitions
  codegen/src/compile.rs
  codegen/src/fixtures/shared-definitions/definitions/soil.yaml
  codegen/src/fixtures/shared-definitions/functions/first_source.yaml
  codegen/src/fixtures/shared-definitions/functions/second_source.yaml
  codegen/src/model.rs
  codegen/src/output/write.rs
  codegen/src/semantic.rs
  codegen/src/specs.rs
  codegen/src/targets/catalog.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/python/test.rs
  codegen/src/targets/python/wrapper.rs
  codegen/src/targets/reference/c.rs
  codegen/src/targets/reference/cpp.rs
  codegen/src/targets/rust.rs
  codegen/src/test_support.rs
  codegen/src/validate.rs
  docs/src/contributing/development.md
  docs/src/ptf-catalog/index.md
  specs/definitions/soil.yaml
  specs/schema/definitions.schema.json
  specs/schema/ptf-spec.schema.json
  targets/ptfkit-py/src/ptfkit/definitions/__init__.py
  targets/ptfkit-rs/src/definitions/mod.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

Path conditions:
  uv-lock: any of: .*(uv\.lock|pyproject\.toml|uv\.toml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
