Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

uv-lock:
  name: uv lock
  language: system
  entry: uv
  args:
  - lock
  - --check
  pass_filenames: false

ruff-check:
  name: ruff check
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - check
  - --fix

ruff-format:
  name: ruff format
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - ruff
  - format

mypy:
  name: mypy
  language: system
  entry: uv
  args:
  - run
  - --no-sync
  - mypy

Removed 3.10
  .github/workflows/pr.yaml
  README.md
  crates/ptfkit-py/Cargo.toml
  crates/ptfkit-py/pyproject.toml
  crates/ptfkit-py/uv.lock
Due: uv-lock

Some functions have been migrated to Rust
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-core/src/pidgeon1972.rs
  crates/ptfkit-core/src/puckett1985.rs
  crates/ptfkit-core/src/rawls1982.rs
  crates/ptfkit-core/src/tiwary2014.rs
  crates/ptfkit-core/src/wang2012.rs
  crates/ptfkit-py/python/ptfkit/_core.py
  crates/ptfkit-py/python/ptfkit/pidgeon1972.py
  crates/ptfkit-py/python/ptfkit/puckett1985.py
  crates/ptfkit-py/python/ptfkit/qiao2018.py
  crates/ptfkit-py/python/ptfkit/rawls1982.py
  crates/ptfkit-py/python/ptfkit/tiwary2014.py
  crates/ptfkit-py/python/ptfkit/wang2012.py
  crates/ptfkit-py/src/ufunc/generated/mod.rs
  crates/ptfkit-py/src/ufunc/generated/pidgeon1972.rs
  crates/ptfkit-py/src/ufunc/generated/puckett1985.rs
  crates/ptfkit-py/src/ufunc/generated/rawls1982.rs
  crates/ptfkit-py/src/ufunc/generated/tiwary2014.rs
  crates/ptfkit-py/src/ufunc/generated/wang2012.rs
  crates/ptfkit-py/tests/test_pidgeon1972.py
  crates/ptfkit-py/tests/test_puckett1985.py
  crates/ptfkit-py/tests/test_qiao2018.py
  crates/ptfkit-py/tests/test_rawls1982.py
  crates/ptfkit-py/tests/test_tiwary2014.py
  crates/ptfkit-py/tests/test_wang2012.py
  specs/functions/pidgeon1972.md
  specs/functions/puckett1985.md
  specs/functions/rawls1982.md
  specs/functions/tiwary2014.md
  specs/functions/wang2012.md
  specs/schema/ptf-spec-v1.schema.json
Due: ruff-check, ruff-format, mypy

Removed Cython completely
  AGENTS.md
  crates/ptfkit-py/pyproject.toml
  crates/ptfkit-py/python/ptfkit/_core.py
  crates/ptfkit-py/python/ptfkit/ramos2023.py
  crates/ptfkit-py/python/ptfkit/rawls1983.py
  crates/ptfkit-py/python/ptfkit/rawls1985.py
  crates/ptfkit-py/python/ptfkit/santra2008.py
  crates/ptfkit-py/src/aimrun2009.rs
  crates/ptfkit-py/src/cosby1984.rs
  crates/ptfkit-py/src/jabro1992.rs
  crates/ptfkit-py/src/li2007.rs
  crates/ptfkit-py/tests/test_ramos2023.py
  crates/ptfkit-py/tests/test_rawls1983.py
  crates/ptfkit-py/tests/test_rawls1985.py
  crates/ptfkit-py/tests/test_santra2008.py
  crates/ptfkit-py/uv.lock
Due: uv-lock, ruff-check, ruff-format, mypy

Refactoring
  Justfile
  cargo.just
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-py/Cargo.toml
  crates/ptfkit-py/justfile
  crates/ptfkit-py/pyproject.toml
  crates/ptfkit-py/python/ptfkit/aimrun2009.py
  crates/ptfkit-py/python/ptfkit/cosby1984.py
  crates/ptfkit-py/python/ptfkit/jabro1992.py
  crates/ptfkit-py/python/ptfkit/li2007.py
  crates/ptfkit-py/python/ptfkit/pidgeon1972.py
  crates/ptfkit-py/python/ptfkit/puckett1985.py
  crates/ptfkit-py/python/ptfkit/rawls1982.py
  crates/ptfkit-py/python/ptfkit/tiwary2014.py
  crates/ptfkit-py/python/ptfkit/wang2012.py
  crates/ptfkit-py/src/lib.rs
Due: uv-lock, ruff-check, ruff-format, mypy

fix: address release, CI, typing, and codegen issues
  .github/workflows/deploy-pypi.yaml
  .github/workflows/pr.yaml
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-core/src/puckett1985.rs
  crates/ptfkit-py/python/ptfkit/_core.pyi
Due: none

feat: add Beniaich et al. (2023)
  crates/ptfkit-core/src/beniaich2023.rs
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-py/python/ptfkit/_core.pyi
  crates/ptfkit-py/python/ptfkit/beniaich2023.py
  crates/ptfkit-py/src/ufunc/generated/beniaich2023.rs
  crates/ptfkit-py/src/ufunc/generated/mod.rs
  crates/ptfkit-py/tests/test_beniaich2023.py
  specs/functions/beniaich2023.md
Due: ruff-check, ruff-format, mypy

feat: add Weber et al. (2020)
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-core/src/weber2020.rs
  crates/ptfkit-py/python/ptfkit/_core.pyi
  crates/ptfkit-py/python/ptfkit/weber2020.py
  crates/ptfkit-py/src/ufunc/generated/mod.rs
  crates/ptfkit-py/src/ufunc/generated/weber2020.rs
  crates/ptfkit-py/tests/test_weber2020.py
  specs/functions/weber2020.md
Due: ruff-check, ruff-format, mypy

fix: removes changes of line-endings during generation
  crates/ptfkit-codegen/src/generate/mod.rs
Due: none

Lf only
  .gitattributes
  crates/ptfkit-codegen/src/generate/mod.rs
Due: none

fix: removes changes of line-endings during generation (#15)
  .gitattributes
  crates/ptfkit-codegen/src/generate/mod.rs
Due: none

Fixed spec reference
  crates/ptfkit-core/src/weber2020.rs
Due: none

fix: Specified agents behaviour about spec references
  .agents/skills/ptf-python-bindings/SKILL.md
  .agents/skills/ptf-python-bindings/references/python-bindings-contract.md
  .agents/skills/ptf-review/SKILL.md
  .agents/skills/ptf-review/references/implementation-review-checklist.md
  .agents/skills/ptf-rust-core/SKILL.md
  .agents/skills/ptf-rust-core/references/rust-core-patterns.md
  AGENTS.md
Due: none

fix: Specified agents behaviour about spec references (#16)
  .agents/skills/ptf-python-bindings/SKILL.md
  .agents/skills/ptf-python-bindings/references/python-bindings-contract.md
  .agents/skills/ptf-review/SKILL.md
  .agents/skills/ptf-review/references/implementation-review-checklist.md
  .agents/skills/ptf-rust-core/SKILL.md
  .agents/skills/ptf-rust-core/references/rust-core-patterns.md
  AGENTS.md
Due: none

feat: add Weber et al. (2020) (#14)
  crates/ptfkit-core/src/lib.rs
  crates/ptfkit-core/src/weber2020.rs
  crates/ptfkit-py/python/ptfkit/_core.pyi
  crates/ptfkit-py/python/ptfkit/weber2020.py
  crates/ptfkit-py/src/ufunc/generated/mod.rs
  crates/ptfkit-py/src/ufunc/generated/weber2020.rs
  crates/ptfkit-py/tests/test_weber2020.py
  specs/functions/weber2020.md
Due: ruff-check, ruff-format, mypy

feat: formula parsing in ptfkit-codegen
  Cargo.lock
  crates/ptfkit-codegen/Cargo.toml
  crates/ptfkit-codegen/src/formula.pest
  crates/ptfkit-codegen/src/formula.rs
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/main.rs
Due: none

feat: semantic compilation for formulas
  crates/ptfkit-codegen/src/main.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-codegen/src/semantic.rs
Due: none

refactor: specification format to YAML
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-codegen/src/semantic.rs
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-codegen/src/validate.rs
  specs/README.md
  specs/functions/aimrun2009.md
  specs/functions/aimrun2009.yaml
  specs/functions/beniaich2023.md
  specs/functions/beniaich2023.yaml
  specs/functions/cosby1984.md
  specs/functions/cosby1984.yaml
  specs/functions/jabro1992.md
  specs/functions/jabro1992.yaml
  specs/functions/li2007.md
  specs/functions/li2007.yaml
  specs/functions/pidgeon1972.md
  specs/functions/pidgeon1972.yaml
  specs/functions/puckett1985.md
  specs/functions/puckett1985.yaml
  specs/functions/rawls1982.md
  specs/functions/rawls1982.yaml
  specs/functions/tiwary2014.md
  specs/functions/tiwary2014.yaml
  specs/functions/wang2012.md
  specs/functions/wang2012.yaml
  specs/functions/weber2020.md
  specs/functions/weber2020.yaml
  specs/schema/ptf-spec.schema.json
Due: none

feat: Rust core code generation
  crates/ptfkit-codegen/src/core.rs
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-py/src/ufunc/generated/aimrun2009.rs
  crates/ptfkit-py/src/ufunc/generated/beniaich2023.rs
  crates/ptfkit-py/src/ufunc/generated/cosby1984.rs
  crates/ptfkit-py/src/ufunc/generated/jabro1992.rs
  crates/ptfkit-py/src/ufunc/generated/li2007.rs
  crates/ptfkit-py/src/ufunc/generated/mod.rs
  crates/ptfkit-py/src/ufunc/generated/pidgeon1972.rs
  crates/ptfkit-py/src/ufunc/generated/puckett1985.rs
  crates/ptfkit-py/src/ufunc/generated/rawls1982.rs
  crates/ptfkit-py/src/ufunc/generated/tiwary2014.rs
  crates/ptfkit-py/src/ufunc/generated/wang2012.rs
  crates/ptfkit-py/src/ufunc/generated/weber2020.rs
Due: none

feat: semantic IR expression rendering in codegen
  crates/ptfkit-codegen/src/generate/rust.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-py/src/ufunc/generated/jabro1992.rs
Due: none

feat(codegen): inline math and improve documentation
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-core/src/aimrun2009.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-core/src/li2007.rs
  crates/ptfkit-core/src/tiwary2014.rs
  crates/ptfkit-core/src/wang2012.rs
  crates/ptfkit-py/src/ufunc/generated/aimrun2009.rs
  crates/ptfkit-py/src/ufunc/generated/li2007.rs
  crates/ptfkit-py/src/ufunc/generated/tiwary2014.rs
  crates/ptfkit-py/src/ufunc/generated/wang2012.rs
  specs/functions/aimrun2009.yaml
  specs/functions/li2007.yaml
  specs/functions/tiwary2014.yaml
  specs/functions/wang2012.yaml
Due: none

feat: Cosby1984, Puckett1985, and Weber2020 PTFs
  crates/ptfkit-core/src/cosby1984.rs
  crates/ptfkit-core/src/puckett1985.rs
  crates/ptfkit-core/src/weber2020.rs
  crates/ptfkit-py/src/ufunc/generated/cosby1984.rs
  crates/ptfkit-py/src/ufunc/generated/puckett1985.rs
  crates/ptfkit-py/src/ufunc/generated/weber2020.rs
  specs/functions/cosby1984.yaml
  specs/functions/puckett1985.yaml
  specs/functions/weber2020.yaml
Due: none

refactor: output handling to support record types
  .agents/skills/ptf-extract/references/spec-template.yaml
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/generate/rust.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-codegen/src/semantic.rs
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-codegen/src/validate.rs
  crates/ptfkit-core/src/aimrun2009.rs
  crates/ptfkit-core/src/cosby1984.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-core/src/li2007.rs
  crates/ptfkit-core/src/puckett1985.rs
  crates/ptfkit-core/src/tiwary2014.rs
  crates/ptfkit-core/src/wang2012.rs
  crates/ptfkit-core/src/weber2020.rs
  crates/ptfkit-py/src/ufunc/generated/aimrun2009.rs
  crates/ptfkit-py/src/ufunc/generated/cosby1984.rs
  crates/ptfkit-py/src/ufunc/generated/jabro1992.rs
  crates/ptfkit-py/src/ufunc/generated/li2007.rs
  crates/ptfkit-py/src/ufunc/generated/puckett1985.rs
  crates/ptfkit-py/src/ufunc/generated/tiwary2014.rs
  crates/ptfkit-py/src/ufunc/generated/wang2012.rs
  specs/functions/aimrun2009.yaml
  specs/functions/beniaich2023.yaml
  specs/functions/cosby1984.yaml
  specs/functions/jabro1992.yaml
  specs/functions/li2007.yaml
  specs/functions/pidgeon1972.yaml
  specs/functions/puckett1985.yaml
  specs/functions/rawls1982.yaml
  specs/functions/tiwary2014.yaml
  specs/functions/wang2012.yaml
  specs/functions/weber2020.yaml
  specs/schema/ptf-spec.schema.json
Due: none

feat: implement Pidgeon (1972) and Rawls (1982)
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-core/src/pidgeon1972.rs
  crates/ptfkit-core/src/rawls1982.rs
  crates/ptfkit-py/src/ufunc/generated/pidgeon1972.rs
  crates/ptfkit-py/src/ufunc/generated/rawls1982.rs
  crates/ptfkit-py/tests/test_pidgeon1972.py
  specs/functions/pidgeon1972.yaml
  specs/functions/rawls1982.yaml
Due: ruff-check, ruff-format, mypy

refactor(codegen): use terminal variable expressions
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-core/src/aimrun2009.rs
  crates/ptfkit-core/src/cosby1984.rs
  crates/ptfkit-core/src/jabro1992.rs
  crates/ptfkit-core/src/li2007.rs
  crates/ptfkit-core/src/pidgeon1972.rs
  crates/ptfkit-core/src/puckett1985.rs
  crates/ptfkit-core/src/rawls1982.rs
  crates/ptfkit-core/src/tiwary2014.rs
  crates/ptfkit-core/src/wang2012.rs
  crates/ptfkit-core/src/weber2020.rs
Due: none

feat: add local PTF schema definitions and references
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-codegen/src/semantic.rs
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-codegen/src/validate.rs
  crates/ptfkit-core/src/beniaich2023.rs
  crates/ptfkit-py/src/ufunc/generated/beniaich2023.rs
  specs/README.md
  specs/functions/beniaich2023.yaml
  specs/schema/ptf-spec.schema.json
Due: none

refactor: complete specification-driven codegen cutover
  README.md
  crates/ptfkit-codegen/src/core.rs
  crates/ptfkit-codegen/src/formula.rs
  crates/ptfkit-codegen/src/generate/mod.rs
  crates/ptfkit-codegen/src/generate/python.rs
  crates/ptfkit-codegen/src/generate/rust.rs
  crates/ptfkit-codegen/src/generate/rust_core.rs
  crates/ptfkit-codegen/src/main.rs
  crates/ptfkit-codegen/src/model.rs
  crates/ptfkit-codegen/src/semantic.rs
  crates/ptfkit-codegen/src/specs.rs
  crates/ptfkit-core/src/beniaich2023.rs
  crates/ptfkit-core/src/pidgeon1972.rs
  crates/ptfkit-core/src/rawls1982.rs
  crates/ptfkit-core/src/tiwary2014.rs
  crates/ptfkit-py/python/ptfkit/beniaich2023.py
  crates/ptfkit-py/python/ptfkit/pidgeon1972.py
  crates/ptfkit-py/python/ptfkit/rawls1982.py
  crates/ptfkit-py/python/ptfkit/tiwary2014.py
  crates/ptfkit-py/src/ufunc/generated/beniaich2023.rs
  crates/ptfkit-py/src/ufunc/generated/pidgeon1972.rs
  crates/ptfkit-py/src/ufunc/generated/rawls1982.rs
  crates/ptfkit-py/src/ufunc/generated/tiwary2014.rs
  specs/README.md
  specs/schema/ptf-spec.schema.json
Due: ruff-check, ruff-format, mypy

refactor(py): generate tests
  codegen/src/targets/mod.rs
  codegen/src/targets/py/mod.rs
  codegen/src/targets/py/test.rs
  codegen/src/targets/py/wrapper.rs
  codegen/src/targets/write.rs
  targets/ptfkit-py/tests/_helpers.py
  targets/ptfkit-py/tests/test_aimrun2009.py
  targets/ptfkit-py/tests/test_beniaich2023.py
  targets/ptfkit-py/tests/test_cosby1984.py
  targets/ptfkit-py/tests/test_jabro1992.py
  targets/ptfkit-py/tests/test_li2007.py
  targets/ptfkit-py/tests/test_pidgeon1972.py
  targets/ptfkit-py/tests/test_puckett1985.py
  targets/ptfkit-py/tests/test_rawls1982.py
  targets/ptfkit-py/tests/test_tiwary2014.py
  targets/ptfkit-py/tests/test_wang2012.py
  targets/ptfkit-py/tests/test_weber2020.py
Due: ruff-check, ruff-format, mypy

fix: clippy warnings
  codegen/src/targets/py/test.rs
Due: none

ci: speed up PR checks
  .github/workflows/pr.yaml
Due: none

ci: merge and updare PR checks
  .github/workflows/pr.yaml
Due: none

update docs
  .agents/skills/ptf-extract/SKILL.md
  .agents/skills/ptf-generate/references/generation-checklist.md
  .agents/skills/ptf-review/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  specs/README.md
  targets/ptfkit-py/README.md
Due: none

chore: move to ty for Python type checking
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  .zed/settings.json
  codegen/src/targets/py/test.rs
  targets/ptfkit-py/.gitignore
  targets/ptfkit-py/justfile
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/tests/_helpers.py
  targets/ptfkit-py/tests/test_aimrun2009.py
  targets/ptfkit-py/tests/test_beniaich2023.py
  targets/ptfkit-py/tests/test_cosby1984.py
  targets/ptfkit-py/tests/test_jabro1992.py
  targets/ptfkit-py/tests/test_li2007.py
  targets/ptfkit-py/tests/test_pidgeon1972.py
  targets/ptfkit-py/tests/test_puckett1985.py
  targets/ptfkit-py/tests/test_rawls1982.py
  targets/ptfkit-py/tests/test_tiwary2014.py
  targets/ptfkit-py/tests/test_wang2012.py
  targets/ptfkit-py/tests/test_weber2020.py
  targets/ptfkit-py/uv.lock
Due: uv-lock, ruff-check, ruff-format, mypy

ci: cache Rust artifacts in PR workflow
  .github/workflows/pr.yaml
Due: none

ci: add Rust problem matchers to PR workflow
  .github/workflows/pr.yaml
Due: none

Path conditions:
  uv-lock: any of: .*(uv\.lock|pyproject\.toml|uv\.toml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
