Repository AgroDT/ptfkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        language: system
        entry: uv
        args: [lock, --check]
        files: .*(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false
      - id: uv-sync
        name: uv sync
        language: system
        entry: uv
        args: [sync, --frozen, --all-groups, --all-extras, --all-packages]
        always_run: true
        pass_filenames: false
      - id: ruff-check
        name: ruff check
        language: system
        entry: uv
        args: [run, --no-sync, ruff, check, --fix]
        types: [file, python]
      - id: ruff-format
        name: ruff format
        language: system
        entry: uv
        args: [run, --no-sync, ruff, format]
        types: [file, python]
      - id: mypy
        name: mypy
        language: system
        entry: uv
        args: [run, --no-sync, mypy]
        types: [file, python]

feat: centralize package version management
  .github/scripts/check-version.py
  .github/workflows/deploy-pypi.yaml
  Justfile
  codegen/src/main.rs
  codegen/src/version.rs
  targets/ptfkit-native/CMakeLists.txt
  targets/ptfkit-native/cmake/ptfkitVersion.cmake
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/src/ptfkit/__init__.py
  targets/ptfkit-py/src/ptfkit/_version.py
  targets/ptfkit-py/uv.lock
  targets/ptfkit-rs/src/lib.rs
Due: uv-lock, ruff-check, ruff-format, mypy

refactor(codegen): reuse code for C and documentation
  codegen/Cargo.toml
  codegen/src/model.rs
  codegen/src/targets/c_expression.rs
  codegen/src/targets/compile.rs
  codegen/src/targets/documentation.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/native.rs
  codegen/src/targets/py/c.rs
  codegen/src/targets/py/wrapper.rs
  codegen/src/targets/rs.rs
  codegen/src/targets/write.rs
Due: none

ci: bound apt mirror access
  .github/workflows/pr.yaml
Due: none

Cache apt dependencies in PR checks
  .github/workflows/pr.yaml
Due: none

Restore Rust setup in PR checks
  .github/workflows/pr.yaml
Due: none

ci: cache apt dependencies in PR checks
  .github/workflows/pr.yaml
Due: none

feat: Add Ferret Julia et al. (2004)
  docs/src/ptf-catalog/sources/ferrerjulia2004.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/ferrerjulia2004.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/ferrerjulia2004.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/ferrerjulia2004.md
  docs/src/reference/python/index.md
  specs/functions/ferrerjulia2004.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/ferrerjulia2004.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/ferrerjulia2004.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/ferrerjulia2004.c
  targets/ptfkit-native/tests/cpp/ferrerjulia2004.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/ferrerjulia2004.c
  targets/ptfkit-py/src/ptfkit/ferrerjulia2004.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_ferrerjulia2004.py
  targets/ptfkit-rs/src/ferrerjulia2004.rs
  targets/ptfkit-rs/src/lib.rs
Due: ruff-check, ruff-format, mypy

feat: add Hodnett (2002)
  docs/src/ptf-catalog/sources/hodnett2002.md
  docs/src/ptf-catalog/sources/index.md
  docs/src/reference/c/functions.md
  docs/src/reference/c/headers/hodnett2002.md
  docs/src/reference/c/headers/ptfkit.md
  docs/src/reference/c/index.md
  docs/src/reference/cpp/functions.md
  docs/src/reference/cpp/index.md
  docs/src/reference/cpp/modules/hodnett2002.md
  docs/src/reference/cpp/modules/ptfkit.md
  docs/src/reference/python/hodnett2002.md
  docs/src/reference/python/index.md
  specs/functions/hodnett2002.yaml
  targets/ptfkit-native/cmake/ptfkitModules.cmake
  targets/ptfkit-native/cpp/hodnett2002.cppm
  targets/ptfkit-native/cpp/ptfkit.cppm
  targets/ptfkit-native/include/ptfkit/hodnett2002.h
  targets/ptfkit-native/include/ptfkit/ptfkit.h
  targets/ptfkit-native/tests/c/hodnett2002.c
  targets/ptfkit-native/tests/cpp/hodnett2002.cpp
  targets/ptfkit-py/src/ptfkit/_ptfkit.pyi
  targets/ptfkit-py/src/ptfkit/hodnett2002.c
  targets/ptfkit-py/src/ptfkit/hodnett2002.py
  targets/ptfkit-py/src/ptfkit/ptfkit.c
  targets/ptfkit-py/tests/test_hodnett2002.py
  targets/ptfkit-rs/src/hodnett2002.rs
Due: ruff-check, ruff-format, mypy

ci: publish all release artifacts
  .github/workflows/release.yaml
Due: none

ci: consolidate release publishing
  .github/workflows/deploy-pypi.yaml
Due: none

docs: document native release archives
  targets/ptfkit-native/README.md
Due: none

docs: link native release downloads
  README.md
Due: none

docs: make native checksum verification optional
  targets/ptfkit-native/README.md
Due: none

ci: publish Rust and native release artifacts
  .github/workflows/deploy-pypi.yaml
  .github/workflows/release.yaml
  README.md
  targets/ptfkit-native/README.md
Due: none

chore: bump version to 0.2.0
  targets/ptfkit-native/cmake/ptfkitVersion.cmake
  targets/ptfkit-py/src/ptfkit/_version.py
  targets/ptfkit-rs/Cargo.lock
  targets/ptfkit-rs/Cargo.toml
Due: ruff-check, ruff-format, mypy

ci: fix pypi publishing
  .github/workflows/release.yaml
Due: none

fix(ci): install uv before building wheels
  .github/workflows/release.yaml
Due: none

ci: remove PyPI recovery trigger
  .github/workflows/release.yaml
Due: none

ci: derive Python test matrix from cibuildwheel support
  .github/scripts/python-matrix.py
  .github/workflows/pr.yaml
  README.md
  targets/ptfkit-py/README.md
  targets/ptfkit-py/pyproject.toml
  targets/ptfkit-py/uv.lock
Due: uv-lock, ruff-check, ruff-format, mypy

feat(codegen): verify generated output drift
  .github/workflows/pr.yaml
  Justfile
  codegen/src/main.rs
  codegen/src/targets/mod.rs
  codegen/src/targets/write.rs
  docs/src/contributing/development.md
Due: none

refactor(codegen): add rendering foundation
  codegen/src/main.rs
  codegen/src/render.rs
  codegen/src/targets/python_documentation.rs
Due: none

refactor(codegen): render C expressions directly
  codegen/src/targets/c_expression.rs
  codegen/src/targets/native.rs
  codegen/src/targets/py/c.rs
Due: none

refactor(codegen): structure native generation
  codegen/src/targets/c_expression.rs
  codegen/src/targets/native.rs
Due: none

refactor(codegen): share documentation semantics
  codegen/src/documentation.rs
  codegen/src/main.rs
  codegen/src/targets/rs.rs
Due: none

refactor(codegen): migrate documentation renderers
  codegen/src/targets/c_documentation.rs
  codegen/src/targets/cpp_documentation.rs
  codegen/src/targets/documentation.rs
  codegen/src/targets/native.rs
  codegen/src/targets/py/wrapper.rs
Due: none
